导航栏变化*/
.nav>div:nth-child(7)>a{
	color: #4278f3;
}
.nav>div:hover>a{
	color: #4278f3;
}
.nav>div:nth-child(7){
	border-bottom: 2px solid #4278f3;
}
/*导航栏变化*/

/*联系我们内容*/
.contact{
	width: 62.5%;
	height: 478px;
	margin: 0 auto;
	border-top: 1px solid #767676;
	border-bottom: 1px solid #767676;
	position: relative;
}
/*联系我们内容*/

/*位置显示*/
.new-top-nav{
	width: 62%;
	height: 20px;
	margin: 20px auto 0;
	font-size: 12px;
	color: #767676;
	font-weight: 700;
	line-height: 26px;
}
/*位置显示 END*/

/*地图*/
.map{
	width: 57.5%;
	margin-top: 19px;
}
.map>img{
	width: 100%;
	height: 430px;
}
/*地图 END*/

/*联系方式*/
.cot-tel{
	width: 420px;
	height: 430px;
	background-color: #ebebeb;
	position: absolute;
	right: 0;
	top: 19px;
}
/*联系方式上部分*/
.cot-top{
	width: 100%;
	border-bottom: 1px solid #666;
	padding: 10px 0 20px 25px;
	box-sizing: border-box;
	position: relative;

}
.cot-tel>.cot-top>p{
	font-size: 11px;
	line-height: 35px;
}
.cot-tel>.cot-top>p:first-child{
}
/*联系方式上部分*/

/*带图标的内容*/
.web,.tel,.adds,.inform{
	margin-left: 40px;
}
.web::before{
	content: url(../image/contact/web.png);
	position: absolute;
	left: 27px;
	top: 14px;
}
.tel::before{
	content: url(../image/contact/tel.png);
	position: absolute;
	left: 27px;
	top: 50px;
}
.adds::before{
	content: url(../image/contact/adds.png);
	position: absolute;
	left: 27px;
	top: 86px;
}
.inform::before{
	content: url(../image/contact/inform.png);
	position: absolute;
	left: 27px;
	top: 118px;
}
/*带图标的内容 END*/

/*联系我们下部分*/
.cot-bottom{
	position: relative;
	width: 100%;
	font-size: 11px;
}
.cot-bottom>div{
	margin: 15px 0 0px 25px;
}
.cot-bottom>input{
	font-size: 12px;
	font-weight: 700;
	font-family: "黑体";
	color: #6a6a6a;
	border: 1px solid #1b1b1b;
}
.cot-bottom>input:nth-child(2){
	position: absolute;
	top: 20px;
	left: 25px;
	width: 170px;
	margin-top: 5px;
}
.cot-bottom>input:nth-child(3){
	position: absolute;
	top: 47px;
	left: 25px;
	width: 170px;
}
.cot-bottom>input:nth-child(4){
	position: absolute;
	top: 74px;
	left: 25px;
	width: 170px;
}
.cot-bottom>input:nth-child(5){
	position: absolute;
	top: 101px;
	left: 25px;
	width: 60px;
}
.cot-bottom>input:nth-child(6){
	position: absolute;
	top: 101px;
	left: 97px;
	outline-style: none;
	background-color: #ebebeb;
}
.cot-bottom>input:nth-child(7){
	position: absolute;
	top: 20px;
	left: 220px;
	height: 63px;
	width: 170px;
	margin-top: 5px;
}
.cot-bottom>button{
	border: none;
	border-radius: 5px;
	background-color: #5d5d5d;
	color: #fff;
	font-family: "黑体";
	height: 20px;
	width: 40px;
}
.cot-bottom>.but1{
	position: absolute;
	right: 130px;
	top: 95px;


}	
.cot-bottom>.but2{
	position: absolute;
	right: 55px;
	top: 95px;
}

/*联系我们下部分 END*/
/*联系方式 END