/*导航栏变化*/
.nav>div:nth-child(3)>a{
	color: #4278f3;
}
.nav>div:hover>a{
	color: #4278f3;
}
.nav>div:nth-child(3){
	border-bottom: 2px solid #4278f3;
}
/*导航栏变化*/

/*新闻详情*/
.news-box{
	width: 64%;
	height: 1565px;
	margin: 0 auto;
	border-top: 1px solid #767676;
	border-bottom: 1px solid #767676;
	position: relative;
	top: 20px;
}
/*位置显示*/
.new-top-nav{
	width: 62%;
	height: 1px;
	margin: 25px auto 0;
	font-size: 12px;
	color: #767676;
	font-weight: 700;
	line-height: 26px;
}
/*位置显示 END*/

/*左侧新闻菜单栏*/
.new-leftbox{
	width: 170px;
	height: 120px;
	margin-top: 50px;
	margin-left: 25px;
	position: relative; 
}
.price{
	width: 170px;
	height: 60px;
	border-top: 2px solid #a4a4a4;
	text-align: center;
	padding-top: 12px;
	line-height: 18px;
	box-sizing: border-box;
}
.price::before{
	content: "";
	width: 80px;
	height: 30px;
	position: absolute;
	left: 0;
	top: -28px;
	background: url(../image/news/smallnew.png) no-repeat center center;
}
.price>span:first-child{
	color: #005bf1;
	font-size: 18px;
	font-weight: 700;
}
.price>span:last-child{
	color: #cccccc;
	font-size: 14px;
	font-weight: 700;
}
.stry{
	width: 170px;
	height: 60px;
	border-top: 1px solid #c9c9c9;
	border-bottom: 1px solid #c9c9c9;
	text-align: center;
	padding-top: 12px;
	line-height: 20px;
	box-sizing: border-box;
}
.stry>span:first-child{
	color: #7a7a7a;
	font-size: 18px;
	font-weight: 700;
}
.stry>span:last-child{
	color: #cccccc;
	font-size: 14px;
	font-weight: 700;
}
/*左侧新闻菜单栏 END*/

/*右侧新闻展示内容*/
.news{
	width: 805px;
	margin-left: 200px;
	position: absolute;
	top: -3px;
	right: 5px;
}
.news>div:first-child{
	color: #414141;
	text-align: center;
	margin-top: 50px;
	margin-bottom:30px; 
	font-size: 25px;
}
.news>.new-box{
	height: 224px;
	width: 100%;
	margin: 0 auto;
}
/*新闻1为了防止外边距合并问题这里加padding*/
.new1{
	width: 167px;
	padding: 26px 0 26px 2px;
	float: left;
}
.new1>img{
	width: 100%;
	display: block;
	border: 2px solid #dcdcdc;
}
.new-box{
	border-top: 2px dashed #000;
}
.new-box>.new-text{
	float: left; 
	width: 500px;
	padding: 30px 0 0 30px;
}
.new-text>p:nth-child(1){
	font-size: 17px;
	color: #5262c1;
	font-weight: 550;
}
.new-text>p:nth-child(2){
	text-align: right;
	color: #9e9e9e;
	font-size: 13px;
}
.new-text>p:nth-child(3){
	color: #535353;
	text-indent: 2em;
	font-size: 12px;
	margin-top: 25px;
	line-height: 28px;
	font-weight: 700;
}
.news>div:last-child{
	border-bottom: 2px dashed #000;
}
/*页码*/
.page{
	position: absolute;
	bottom: 38px;
	left: 530px;
}
.page>button{
	background-color: #fff;
	border: 1px solid #9e9e9e;
	color: #9e9e9e;
	margin: 0 10px 0 0;
	font-size: 16.5px;
}
.page>button:first-child{
	color: #262cfe;
	border: 1px solid #262cfe;
}

/*页码 END*/

/*右侧新闻展示内容 END*/



/*新闻详情 END