<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/allindex.css">
	<link rel="stylesheet" href="../css/initialize.css">
	<link rel="stylesheet" href="../css/contact.css">
	<link rel="icon" type="image/x-icon" href="../image/index/logo.ico">
	<title>公司介绍</title>
</head>
<body>
	<!-- 首页 -->
	<div class="main all-width">
		<!-- 顶部栏顶 -->
		<div class="top-nav all-width">
			<div class="top-welcom fl">欢迎来到毅朝信息科技有限公司</div>
			<div class="rt-bar">
				<div>联系我们</div>	
				<div>网站地图 &nbsp|</div>
				<div>设为首页 &nbsp|</div>
				<div>加入收藏 &nbsp|</div>
				<div>客服热线:xxx-xxxxxx</div>
			</div>
		</div>
		<!-- 导航栏 -->
		<div class="navbar all-width">
			<!-- logo -->
			<div class="logo-img">
				<img src="../image/index/inlogo.png" alt="">
			</div>
			<div class="nav fr">
				<div><a href="../index.html">首页</a></div>
				<div><a href="introduce.html">公司介绍</a></div>
				<div><a href="news-center.html">新闻中心</a></div>
				<div><a href="news.html">新闻详情</a></div>
				<div><a href="product.html">产品中心</a></div>
				<div><a href="productdetail.html">产品详情</a></div>
				<div><a href="contact.html">联系我们</a></div>
			</div>
		</div>
		<!-- 轮播图 -->
		<div class="banner">
			<img src="../image/contact/contact.png" alt="">
		</div>
		<!-- 轮播图 END-->

		<!-- 联系我们内容 -->
		<div class="new-top-nav">您现在的位置：首页 > 联系我们</div>
		<div class="contact">
			<div class="map">
				<img src="../image/contact/map.png" alt="">
			</div>
			<div class="cot-tel">
				<div class="cot-top"> 
					<p class="web">公司网址：http://www.xxxx.com</p>
					<p class="tel">联系电话：021-12XXX678</p>
					<p class="adds">公司地址：上海市张江高科技园区张衡路500弄1号510A室</p>
					<p class="inform">公司邮箱：moumou@xxxxx.com</p>
					<p>关注官方微博：XXXXXXXXXXXX</p>
					<p>关注官方微信：XXXXXXXXXXXX</p>
					<p>QQ客服在线：XXXXXXXXXXXX</p>
				</div>
				<div class="cot-bottom">
					<div>联系我们</div>
					<input type="text" placeholder="姓名:">
					<input type="text" placeholder="邮箱:">
					<input type="text" placeholder="手机号码:">
					<input type="text" placeholder="验证码:">
					<input type="submit" value="点击获取验证码">
					<input type="text" placeholder="留言:">
					<button class="but1">发送</button>
					<button class="but2">重置</button>
				</div>
			</div>
		</div>
		<!-- 联系我们 END -->

		<!-- 底部栏尾 -->
		<div class="foot-nav">
			<p>Copyright © 2013-2017 上海毅朝信息有限公司 版权所有 京ICP备XXXXXX号-1 京ICP证xxxxx号</p>
		</div>
	</div>
</body>
</html>