<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/allindex.css">
	<link rel="stylesheet" href="../css/initialize.css">
	<link rel="stylesheet" href="../css/news.css">
	<link rel="icon" type="image/x-icon" href="../image/index/logo.ico">
	<title>公司介绍</title>
</head>
<body>
	<!-- 首页 -->
	<div class="main all-width">
		<!-- 顶部栏顶 -->
		<div class="top-nav all-width">
			<div class="top-welcom fl">欢迎来到毅朝信息科技有限公司</div>
			<div class="rt-bar">
				<div>联系我们</div>	
				<div>网站地图 &nbsp|</div>
				<div>设为首页 &nbsp|</div>
				<div>加入收藏 &nbsp|</div>
				<div>客服热线:xxx-xxxxxx</div>
			</div>
		</div>
		<!-- 导航栏 -->
		<div class="navbar all-width">
			<!-- logo -->
			<div class="logo-img">
				<img src="../image/index/inlogo.png" alt="">
			</div>
			<div class="nav fr">
				<div><a href="../index.html">首页</a></div>
				<div><a href="introduce.html">公司介绍</a></div>
				<div><a href="news-center.html">新闻中心</a></div>
				<div><a href="news.html">新闻详情</a></div>
				<div><a href="product.html">产品中心</a></div>
				<div><a href="productdetail.html">产品详情</a></div>
				<div><a href="contact.html">联系我们</a></div>
			</div>
		</div>
		<!-- 轮播图 -->
		<div class="banner">
			<img src="../image/news/news.png" alt="">
		</div>
		<!-- 轮播图 END-->

		<!-- 新闻详情 -->
		<div class="new-top-nav">您现在的位置：首页 > 新闻中心 > 企业新闻 > 正文</div>
		<div class="news">
			<!-- 左侧菜单 -->
			<div class="new-leftbox">
				<div class="price">
					<span>1 &nbsp企业新闻<br></span>
					<span>Enterprice news</span>
				</div>
				<div class="stry">
					<span>2 &nbsp行业新闻<br></span>
					<span>Industry News</span>
				</div>
			</div>
			<!-- 左侧菜单  END-->
			<!-- 右侧文字内容 -->
			<div class="new-righttext">
				<span>如何做一个合格的员工</span>
				<div>
					<span>来源：天柱网&nbsp</span>
					<span>&nbsp2012/9/5 22:04:43&nbsp</span>
					<span>&nbsp点击数：847</span>
				</div>
			</div>
			<div class="new-rightbox">
				<p>
					很多企业都面临着怎么样去培养一大批人才，但是现实社会是当企业给你平台和机会了，那么员工怎么做才算是一个合格的员工呢？<br>
					毅朝公司认为一个合格的员工必须做到以下几点：<br>
					一、要把企业利益和个人利益紧密联合在一起。<br>
					只有这样，公司才能做得更好，只有公司做的更好了，员工自己才能得到更多利益。
					二、一定要有很强的敬业精神和团队意识。<br>
					三、要有爱学习的精神，只有不断的学习，不管是员工自己还是公司才能发展的更高<br>
					四、个人素质一定要高
				</p>
				<div class="share">
					<div>分享到</div>
					<img src="../image/news/qq.png" alt="">
					<img src="../image/news/weibo.png" alt="">
					<img src="../image/news/baidu.png" alt="">
					<img src="../image/news/email.png" alt="">
				</div>
				<div class="up-down">
					<span>上一篇：工作标准一定要数字化<br></span>
					<span>下一篇：五月新开始</span>
				</div>
			</div>
			<!-- 右侧文字内容 END -->

		</div>
		<!-- 新闻详情 END -->

		<!-- 底部栏尾 -->
		<div class="foot-nav">
			<p>Copyright © 2013-2017 上海毅朝信息有限公司 版权所有 京ICP备XXXXXX号-1 京ICP证xxxxx号</p>
		</div>
	</div>
</body>
</html>