<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/allindex.css">
	<link rel="stylesheet" href="../css/initialize.css">
	<link rel="stylesheet" href="../css/news-center.css">
	<link rel="icon" type="image/x-icon" href="../image/index/logo.ico">
	<title>公司介绍</title>
</head>
<body>
	<!-- 整个页面 -->
	<div class="main all-width">
		<!-- 顶部栏顶 -->
		<div class="top-nav all-width">
			<div class="top-welcom fl">欢迎来到毅朝信息科技有限公司</div>
			<div class="rt-bar">
				<div>联系我们</div>	
				<div>网站地图 &nbsp|</div>
				<div>设为首页 &nbsp|</div>
				<div>加入收藏 &nbsp|</div>
				<div>客服热线:xxx-xxxxxx</div>
			</div>
		</div>
		<!-- 导航栏 -->
		<div class="navbar all-width">
			<!-- logo -->
			<div class="logo-img">
				<img src="../image/index/inlogo.png" alt="">
			</div>
			<div class="nav fr">
				<div><a href="../index.html">首页</a></div>
				<div><a href="introduce.html">公司介绍</a></div>
				<div><a href="news-center.html">新闻中心</a></div>
				<div><a href="news.html">新闻详情</a></div>
				<div><a href="product.html">产品中心</a></div>
				<div><a href="productdetail.html">产品详情</a></div>
				<div><a href="contact.html">联系我们</a></div>
			</div>
		</div>
		<!-- 轮播图 -->
		<div class="banner">
			<img src="../image/news/news.png" alt="">
		</div>
		<!-- 轮播图 END-->

		<!-- 新闻详情 -->
		<div class="new-top-nav">您现在的位置：首页 > 新闻中心 > 企业新闻</div>
		<div class="news-box">
			<!-- 左侧菜单 -->
			<div class="new-leftbox">
				<div class="price">
					<span>1 &nbsp企业新闻<br></span>
					<span>Enterprice news</span>
				</div>
				<div class="stry">
					<span>2 &nbsp行业新闻<br></span>
					<span>Industry News</span>
				</div>
			</div>
			<!-- 左侧菜单  END-->

			<!-- 右侧文字内容 -->
			<div class="news">
				<div>新闻展示/News show</div>
			<!-- 新闻内容1 -->
				<div class="new-box">
					<div class="new1">
						<img src="../image/index/new1.png" alt="">
					</div>
					<div class="new-text">
						<p class="fl">工作标准一定要数字化</p>
						<p>2016.03.25</p>
						<p class="cleafix">有一个小和尚担任撞钟一职，半年下来，觉得无聊之极，“做一天和尚撞一天钟”而已。有一天，
					主持宣布调他到后院劈柴挑水，小和尚很不服气地问：“我撞的钟难道不准时、不响亮？”老主持耐
					心地告诉他：“你撞的钟虽然很准时、也很响... [详情]</p>
					</div>
				</div>
			<!-- 新闻内容2 -->
				<div class="new-box">
					<div class="new1 clearflow">
						<img src="../image/index/new2.png" alt="">
					</div>
					<div class="new-text">
						<div class="new-text">
						<p class="fl">如何做一个合格的员工</p>
						<p>2016.03.25</p>
						<p class="cleafix">很多企业都面临着怎么样去培养一大批人才，但是现实社会是当企业给你平台和机会了，那么员工
					怎么做才算是一个合格的员工呢？ 天柱公司认为一个合格的员工必须做到以下几点： 一、要把企业利
					益和个人利益紧密联合在一起。 只有这样，公司才能做得更好... [详情]</p>
						</div>
					</div>
				</div>
			<!-- 新闻内容3 -->
				<div class="new-box">
					<div class="new1 clearflow">
						<img src="../image/index/new3.png" alt="">
					</div>
					<div class="new-text">
						<div class="new-text">
						<p class="fl">五月新开始</p>
						<p>2016.03.25</p>
						<p class="cleafix">四月已经就这样悄悄的过去了，五月的来临预示着离年中又接近了。但是，我们今年的目标还有多
					少没有完成呢？ 一日之计在于晨，一年之计在于春。只有把每一天当着新的开始 ，我们才能更加充满
					活力，充满激情。每天保持一个好的心情，那样才是人生最大的快乐。... [详情]</p>
						</div>
					</div>
				</div>
				<!-- 新闻内容4 -->
				<div class="new-box">
					<div class="new1">
						<img src="../image/index/new1.png" alt="">
					</div>
					<div class="new-text">
						<p class="fl">工作标准一定要数字化</p>
						<p>2016.03.25</p>
						<p class="cleafix">有一个小和尚担任撞钟一职，半年下来，觉得无聊之极，“做一天和尚撞一天钟”而已。有一天，
					主持宣布调他到后院劈柴挑水，小和尚很不服气地问：“我撞的钟难道不准时、不响亮？”老主持耐
					心地告诉他：“你撞的钟虽然很准时、也很响... [详情]</p>
					</div>
				</div>
			<!-- 新闻内容5 -->
				<div class="new-box">
					<div class="new1 clearflow">
						<img src="../image/index/new2.png" alt="">
					</div>
					<div class="new-text">
						<div class="new-text">
						<p class="fl">如何做一个合格的员工</p>
						<p>2016.03.25</p>
						<p class="cleafix">很多企业都面临着怎么样去培养一大批人才，但是现实社会是当企业给你平台和机会了，那么员工
					怎么做才算是一个合格的员工呢？ 天柱公司认为一个合格的员工必须做到以下几点： 一、要把企业利
					益和个人利益紧密联合在一起。 只有这样，公司才能做得更好... [详情]</p>
						</div>
					</div>
				</div>
			<!-- 新闻内容6 -->
				<div class="new-box">
					<div class="new1 clearflow">
						<img src="../image/index/new3.png" alt="">
					</div>
					<div class="new-text">
						<div class="new-text">
						<p class="fl">五月新开始</p>
						<p>2016.03.25</p>
						<p class="cleafix">四月已经就这样悄悄的过去了，五月的来临预示着离年中又接近了。但是，我们今年的目标还有多
					少没有完成呢？ 一日之计在于晨，一年之计在于春。只有把每一天当着新的开始 ，我们才能更加充满
					活力，充满激情。每天保持一个好的心情，那样才是人生最大的快乐。... [详情]</p>
						</div>
					</div>
				</div>
			</div>
			<!-- 右侧文字内容 END-->
			<div class="page">
				<button>1</button>
				<button>2</button>
				<button>3</button>
				<button>下一页</button>
			</div>	
		</div>
		<!-- 新闻详情 END -->

		<!-- 底部栏尾 -->
		<div class="foot-nav">
			<p>Copyright © 2013-2017 上海毅朝信息有限公司 版权所有 京ICP备XXXXXX号-1 京ICP证xxxxx号</p>
		</div>
	</div>
</body>
</html>