<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/allindex.css">
	<link rel="stylesheet" href="../css/initialize.css">
	<link rel="stylesheet" href="../css/productdetail.css">
	<link rel="icon" type="image/x-icon" href="../image/index/logo.ico">
	<title>公司介绍</title>
</head>
<body>
	<!-- 整个页面 -->
	<div class="main all-width">
		<!-- 顶部栏顶 -->
		<div class="top-nav all-width">
			<div class="top-welcom fl">欢迎来到毅朝信息科技有限公司</div>
			<div class="rt-bar">
				<div>联系我们</div>	
				<div>网站地图 &nbsp|</div>
				<div>设为首页 &nbsp|</div>
				<div>加入收藏 &nbsp|</div>
				<div>客服热线:xxx-xxxxxx</div>
			</div>
		</div>
		<!-- 导航栏 -->
		<div class="navbar all-width">
			<!-- logo -->
			<div class="logo-img">
				<img src="../image/index/inlogo.png" alt="">
			</div>
			<div class="nav fr">
				<div><a href="../index.html">首页</a></div>
				<div><a href="introduce.html">公司介绍</a></div>
				<div><a href="news-center.html">新闻中心</a></div>
				<div><a href="news.html">新闻详情</a></div>
				<div><a href="product.html">产品中心</a></div>
				<div><a href="productdetail.html">产品详情</a></div>
				<div><a href="contact.html">联系我们</a></div>
			</div>
		</div>
		<!-- 轮播图 -->
		<div class="banner">
			<img src="../image/product/product.png" alt="">
		</div>
		<!-- 轮播图 END-->

		<!-- 新闻详情 -->
		<div class="new-top-nav">您现在的位置：首页 > 产品中心</div>
		<div class="news-box">
			<!-- 左侧菜单 -->
			<div class="new-leftbox">
				<ul>
					<li class="price">APP应用</li>
					<li>多媒体宣传</li>
					<li>多媒体触摸屏系统</li>
					<li>数字网站开发与建设</li>
					<li>影视制作与三维特效</li>
					<li>虚拟现实模拟系统</li>
					<li>多媒体杂志</li>
					<li>光盘配套与服务</li>
				</ul>
			</div>
			<!-- 左侧菜单  END-->

			<!-- 右侧文字内容 -->
			<div class="news">
				<div>多媒体宣传/<i>Multimedia propaganda</i></div>
				<!-- 产品宣传内容 -->
				<div class="prt-text-box">
					<div>
						<img src="../image/product/prt-detail.png" alt="">
					</div>
					<p class="first-text">多媒体是声音与立体画面完美结合的高科技产品，它可以有效的帮助您树立和展示企业象、推广产品，更好的展示您企业和产品的                                                            
优势，成为您拓展市场和展示企业形象的好帮手。与传统的宣传和展示媒介比较，多媒体展示有着无可比拟的优势，并以其大容量、互                                                            
动性、内容丰富多彩 、携带方便等优点，广受青睐。</p>
					<div class="sed-text-box">
						<!-- 第一部分 -->
						<ul>
							<li class="smallbj">企业及产品形象宣传系统</li>
							<li>运用多表现形式，充分展现多媒体多姿多彩的魅力和互动性，突破传统的只能以文字及静态效果表现形式的束缚，运用多媒体技术                                                        
全面系统的展示企业及产品情况，体现企业及优势，帮助企业拓展市场。</li>
						</ul>
						<!-- 第二部分 -->

						<ul>
							<li class="smallbj">会议报告演示系统</li>
							<li>会议报告演示系统主要应用于政府会议、招标会议、学术研讨会、工作汇报、活动路演等、多媒体的展示效果、交互操作等特点完                                                        
全改变了传统会议的呆板、枯燥，也使讲诉者更快捷、方便的完成会议报</li>
						</ul>
						<!-- 第三部分 -->
						<ul>
							<li class="smallbj">展馆及主题公园演示导览系统</li>
							<li>该系统是景区向游客提供的一种多媒体自助服务，这种服务的目的是让游客能够方便的了解景区的各种介绍信息及景区的实时状态                                                        
如景区内的各个风景点是否拥挤、分景点的游览车排班情况等。同时还能提供相应的查询功能，例如：查询欲知景点的位置信息、当前                                                            
位置到该景点的距离和划出最适合的路径轨迹信息等。</li>
						</ul>
						<!-- 第四部分 -->
						<ul>
							<li class="smallbj">园区招商引资宣传展示系统 </li>
							<li>利用成熟的多媒体技术，把园区的基础设施、地理环境、综合优势、招商政策和程序，政策优惠，全方位的进行宣传和展示，同时                                                        
还可以多园区的进行未来进行模拟和展望。</li>
						</ul>
						
					</div>
				</div>
			</div>
			<!-- 右侧文字内容 END-->	
		</div>
		<!-- 新闻详情 END -->

		<!-- 底部栏尾 -->
		<div class="foot-nav">
			<p>Copyright © 2013-2017 上海毅朝信息有限公司 版权所有 京ICP备XXXXXX号-1 京ICP证xxxxx号</p>
		</div>
	</div>
</body>
</html>