<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/allindex.css">
	<link rel="stylesheet" href="../css/initialize.css">
	<link rel="stylesheet" href="../css/product.css">
	<link rel="icon" type="image/x-icon" href="../image/index/logo.ico">
	<title>公司介绍</title>
</head>
<body>
	<!-- 整个页面 -->
	<div class="main all-width">
		<!-- 顶部栏顶 -->
		<div class="top-nav all-width">
			<div class="top-welcom fl">欢迎来到毅朝信息科技有限公司</div>
			<div class="rt-bar">
				<div>联系我们</div>	
				<div>网站地图 &nbsp|</div>
				<div>设为首页 &nbsp|</div>
				<div>加入收藏 &nbsp|</div>
				<div>客服热线:xxx-xxxxxx</div>
			</div>
		</div>
		<!-- 导航栏 -->
		<div class="navbar all-width">
			<!-- logo -->
			<div class="logo-img">
				<img src="../image/index/inlogo.png" alt="">
			</div>
			<div class="nav fr">
				<div><a href="../index.html">首页</a></div>
				<div><a href="introduce.html">公司介绍</a></div>
				<div><a href="news-center.html">新闻中心</a></div>
				<div><a href="news.html">新闻详情</a></div>
				<div><a href="product.html">产品中心</a></div>
				<div><a href="productdetail.html">产品详情</a></div>
				<div><a href="contact.html">联系我们</a></div>
			</div>
		</div>
		<!-- 轮播图 -->
		<div class="banner">
			<img src="../image/product/product.png" alt="">
		</div>
		<!-- 轮播图 END-->

		<!-- 新闻详情 -->
		<div class="new-top-nav">您现在的位置：首页 > 产品中心</div>
		<div class="news-box">
			<!-- 左侧菜单 -->
			<div class="new-leftbox">
				<ul>
					<li class="price">APP应用</li>
					<li>多媒体宣传</li>
					<li>多媒体触摸屏系统</li>
					<li>数字网站开发与建设</li>
					<li>影视制作与三维特效</li>
					<li>虚拟现实模拟系统</li>
					<li>多媒体杂志</li>
					<li>光盘配套与服务</li>
				</ul>
			</div>
			<!-- 左侧菜单  END-->

			<!-- 右侧文字内容 -->
			<div class="news">
				<div>产品中心/<i>Product Center</i></div>
			<!-- 新闻内容1 -->
				<div class="new-box">
					<div class="new1 fl">
						<img src="../image/index/product1.png" alt="">
						<i>多媒体触摸屏系统</i>
					</div>
					<ul class="prt-content fl">
						<li class="black-bt">政府政务公开系统
							<p>应用多媒体技术，把政府条例和工作详细地展现在人们面前，最大实现政务公开化。</p></li>
						<li class="black-bt">智能信息导航查询系统
							<p>在展会现场、公共交通，银行等公共场所广泛应用，极大的提高了 ...<a href="">[详情]</a></p></li>
					</ul>
				</div>
			<!-- 新闻内容2 -->
				<div class="new-box">
					<div class="new1 fl">
						<img src="../image/index/product2.png" alt="">
						<i>数字网站开发与建设</i>
					</div>
					<ul class="prt-content text-hight fl">
						<li class="black-bt">企业智能化管理系统</li>
						<li class="black-bt">品牌形象网站建设</li>
						<li class="black-bt">大型综合门户网站建设</li>
						<li class="black-bt">电子商务网站建设</li>
					</ul>
				</div>
			<!-- 新闻内容3 -->
				<div class="new-box">
					<div class="new1 fl">
						<img src="../image/index/product3.png" alt="">
						<i>虚拟现实模拟系统</i>
					</div>
					<ul class="prt-content fl">
						<li class="black-bt">科技产品虚拟展示
							<p>应用三维立体技术将产品从建模到成型的整个过程都展示出来，帮助人家快速了解产品
         性能，满足企业宣传产品需要。</p></li>
						<li class="black-bt">建筑工程，城市规划展示
							<p>应用三维立体技术，将建筑工程，城市规划的宏伟场景展现 ... <a href="">[详情]</a></p></li>
					</ul>
				</div>
				<!-- 新闻内容4 -->
				<div class="new-box">
					<div class="new1 fl">
						<img src="../image/index/product4.png" alt="">
						<i>影视制作与三维特效</i>
					</div>
					<div class="new-text">
						<i>
							DVD、VCD宣传片光盘因其普及率高，线性播
    						发的操作简单使受众更易接受，目前仍是一种展
      						示的重要方式。有我们专业的导演、策划、剧本、
							BATCAME/DVCAME ... <a href="">[详情]</a> 
						</i>
					</div>
				</div>
			<!-- 新闻内容5 -->
				<div class="new-box">
					<div class="new1 fl">
						<img src="../image/index/product5.png" alt="">
						<i>光盘配套与服务</i>
					</div>
					<div class="new-text">
						<i>多媒体是声音与立体画面完美结合的高科技产品，它可以有效的帮助您树立和展示企业
							形象、推广产品，更好的展示您企业和产品的优势，成为您拓展市场和展示企业形象的好帮
							手。与传统的宣传和展示媒介比较，多媒体展示有着无可比拟的优势，并以其大容量、互动
							性、内容丰富多彩 ... <a href="">[详情]</a>  </i>
					</div>
				</div>
			<!-- 新闻内容6 -->
				<div class="new-box">
					<div class="new1 fl">
						<img src="../image/index/product6.png" alt="">
						<i>多媒体宣传</i>
					</div>
					<div class="new-text">
						<i>
							多媒体是声音与立体画面完美结合的高科技产品，它可以有效的帮助您树立和展示企业
							形象、推广产品，更好的展示您企业和产品的优势，成为您拓展市场和展示企业形象的好帮
							手。与传统的宣传和展示媒介比较，多媒体展示有着无可比拟的优势，并以其大容量、互动
							性、内容丰富多彩 ... <a href="">[详情]</a> 
						</i>
					</div>
				</div>
				<div class="cleafix"></div>
			</div>
			<!-- 右侧文字内容 END-->
			<div class="page">
				<button>1</button>
				<button>2</button>
				<button>3</button>
				<button>下一页</button>
			</div>	
		</div>
		<!-- 新闻详情 END -->

		<!-- 底部栏尾 -->
		<div class="foot-nav">
			<p>Copyright © 2013-2017 上海毅朝信息有限公司 版权所有 京ICP备XXXXXX号-1 京ICP证xxxxx号</p>
		</div>
	</div>
</body>
</html>